<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %} - stock</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        {% endblock %}
         </head>
    <body>
        <header class="jumbotron">
            <nav>
                <a class="btn btn-primary" href="{{ path('home') }}">Accueil</a>
                <a class="btn btn-primary" href="{{ path('article') }}">Article</a>
                <a class="btn btn-primary" href="{{ path('categorie') }}">Catégorie</a>
                <a class="btn btn-primary" href="{{ path('saveCat') }}">create Cat</a>
                <a class="btn btn-primary" href="{{ path('saveArt') }}">create Art</a>
                <a class="btn btn-primary" href="{{ path('user_index') }}">User</a>
            </nav>
        </header>

        <div class="w-100">
            {% for message in app.flashes("warning") %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes("success") %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>

        {% block body %}{% endblock %}
        <footer class="d-flex justify-content-center jumbotron my-3">
            &copy; Copyrigth - {{ '' | date('Y') ~ ' - ' ~ auteur | upper }}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
